.element__like {
  width: 100%;
  max-width: 22px;
  height: 19px;
  background: transparent url(../../../images/elements/Vector.svg) center
    no-repeat;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.element__like:hover {
  opacity: 0.5;
}
